@charset "UTF-8";
@font-face {
  font-family: 'jumaalmajid';
  src: url("../fonts/jumaalmajid.eot?52962353");
  src: url("../fonts/jumaalmajid.eot?52962353#iefix") format("embedded-opentype"), url("../fonts/jumaalmajid.woff2?52962353") format("woff2"), url("../fonts/jumaalmajid.woff?52962353") format("woff"), url("../fonts/jumaalmajid.ttf?52962353") format("truetype"), url("../fonts/jumaalmajid.svg?52962353#jumaalmajid") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "jumaalmajid";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-right-open-big:before {
  content: '\e800';
}

/* '' */
.icon-left-open-big:before {
  content: '\e801';
}

/* '' */
.icon-right-open-mini:before {
  content: '\e802';
}

/* '' */
.icon-down-open-mini:before {
  content: '\e803';
}

/* '' */
.icon-letter:before {
  content: '\e80c';
}

/* '' */
.icon-location-1:before {
  content: '\e80d';
}

/* '' */
.icon-phone-1:before {
  content: '\e80e';
}

/* '' */
.icon-twitter-1:before {
  content: '\f302';
}

/* '' */
.icon-flickr:before {
  content: '\f303';
}

/* '' */
.icon-twitter:before {
  content: '\f309';
}

/* '' */
.icon-facebook:before {
  content: '\f30c';
}

/* '' */
.icon-gplus:before {
  content: '\f30f';
}

/* '' */
.icon-pinterest:before {
  content: '\f312';
}

/* '' */
.icon-linkedin:before {
  content: '\f318';
}

/* '' */
.icon-instagram:before {
  content: '\f32d';
}

/* '' */
ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, li {
  text-decoration: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

a:hover, a:focus, li:hover, li:focus {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  outline: none;
}

.cut-rel {
  position: static;
}

.alpha {
  padding-right: 0 !important;
}

.omega {
  padding-left: 0 !important;
}

.ui-loader {
  display: none;
}

.btn {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.btn.blue {
  background: #449cdd;
  color: #fff;
}

.btn.blue:hover {
  background: #333;
}

.btn.white {
  color: #084c8c;
}

.btn.white-br {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn.white-br:hover {
  background: #fff;
  color: #084c8c;
}

#toggle {
  display: block;
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  top: 50%;
  margin-top: -35px;
  right: 15px;
  background: none;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition: all 0.50s ease-in-out;
}

@media only screen and (max-width: 640px) {
  #toggle {
    margin-top: -25px;
  }
}

#toggle:focus {
  outline: none;
}

#toggle span {
  display: block;
  position: absolute;
  top: 20px;
  left: 0px;
  right: 0px;
  height: 5px;
  background: #084c8c;
}

#toggle span:before, #toggle span:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background: #084c8c;
  content: "";
}

#toggle span:before {
  top: -10px;
}

#toggle span:after {
  bottom: -10px;
}

#toggle span {
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
}

#toggle span:before, #toggle span:after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}

#toggle span:before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}

#toggle span:after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}

#toggle.is-active {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: all 0.50s ease-in-out;
}

#toggle.is-active span {
  background: none;
}

#toggle.is-active span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#toggle.is-active span:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#toggle.is-active span:before, #toggle.is-active span:after {
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}

#search {
  background: none;
  border: none;
  font-size: 30px;
  color: #084c8c;
}

#search:before {
  margin: 0;
  width: auto;
}

#search:hover, #search:focus {
  outline: none;
}

.white {
  background: #fff;
}

.grey {
  background: #e8e8e8;
}

.blue {
  background: #084c8c;
}

.blue1 {
  background: #449cdd;
}

.darkBlue {
  background: #34445b;
}

.col-blue {
  color: #084c8c;
}

.col-white {
  color: #fff;
}

h2 {
  font-size: 48px;
  line-height: 50px;
  font-family: "OpenSans-Light";
  margin-bottom: 30px;
}

@media only screen and (max-width: 640px) {
  h2 {
    font-size: 24px;
    line-height: 26px;
  }
}

.section-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-title h2 {
  margin: 0;
}

.page-title {
  font-size: 36px;
  line-height: 36px;
  color: #fff;
  font-family: "OpenSans";
}

@media only screen and (max-width: 767px) {
  .page-title {
    font-size: 22px;
    line-height: 24px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section p {
  font-family: "OpenSans";
}

.parallax-container {
  position: relative;
  overflow: hidden;
  min-height: 600px;
  padding: 0;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.cell-wrapper {
  display: table;
}

.cell-wrapper .cell {
  display: table-cell;
  float: none;
}

@media only screen and (max-width: 768px) {
  .cell-wrapper {
    display: block;
  }
  .cell-wrapper .cell {
    display: block;
  }
}

.form input {
  height: 40px;
  background: none;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
}

.form .btn {
  height: 40px;
  border: none;
  margin: 0;
  outline: none;
  top: 0;
}

.search-wrapper input {
  background: #084c8c;
}

.search-wrapper .btn {
  border-left: 1px solid #0073BB;
}

.page-holder {
  width: 100%;
}

.header-holder {
  width: 15%;
  display: inline-block;
  vertical-align: top;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: #fff;
  border-right: 1px solid #f4f4f4;
}

.header-holder .device-logo {
  padding: 5px;
}

.header-holder .device-logo img {
  margin: 0 auto;
}

@media only screen and (max-width: 1366px) {
  .header-holder {
    width: 20%;
  }
}

@media only screen and (max-width: 991px) {
  .header-holder {
    width: 70px;
  }
  .header-holder .page-nav {
    width: 0;
    overflow: hidden;
  }
}

.content-holder {
  width: 85%;
  margin-left: 15%;
  display: inline-block;
}

@media only screen and (max-width: 1366px) {
  .content-holder {
    width: 80%;
    margin-left: 20%;
  }
}

@media only screen and (max-width: 991px) {
  .content-holder {
    width: 90%;
    margin-left: 70px;
  }
}

header .page-logo {
  display: block;
}

header .page-logo img {
  margin: 0 auto;
}

header h2 {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #2f2f2f;
}

@media only screen and (max-width: 1366px) {
  header h2 {
    font-size: 16px;
    line-height: 18px;
  }
}

.logo-holder {
  padding: 10px;
}

.page-nav {
  padding-top: 20px;
  overflow-y: auto;
}

@media only screen and (max-width: 1366px) {
  .page-nav {
    padding-top: 10px;
  }
}

.page-nav a {
  padding: 10px 30px;
  display: block;
  font-size: 18px;
  color: #434343;
  font-family: "OpenSans";
  border-bottom: 1px solid #dedede;
}

.page-nav li:first-child {
  border-top: 1px solid #dedede;
}

.header-top {
  height: calc(100vh - 150px);
}

.social {
  text-align: center;
  padding-bottom: 15px;
}

.social li {
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
}

.social a {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font-size: 20px;
  width: 33px;
  height: 33px;
  background: #9a9898;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.social a:hover {
  background: #0071BC;
}

.header-foot {
  padding: 15px;
}

.header-foot p {
  margin: 0;
}

.header-foot .policy p {
  color: #9a9898;
}

.header-foot .policy p a {
  color: #9a9898;
}

.header-foot .policy p a:before {
  display: none;
}

.header-foot .policy a {
  color: #9a9898;
}

.header-foot .policy a:before {
  content: '';
  width: 1px;
  height: 10px;
  background: #9a9898;
  display: inline-block;
}

.subnav {
  display: none;
}

.subnav li {
  padding-left: 15px;
}

.subnav li:first-child {
  border: none;
}

body.inner #toggle {
  display: block;
  position: relative;
  margin-top: 250px;
  margin-left: 30px;
}

@media only screen and (max-width: 640px) {
  body.inner #toggle {
    float: right;
    margin-top: 0;
    top: 15px;
  }
}

body.inner #search {
  position: relative;
  padding: 0;
  margin-left: 20px;
  margin-top: 30px;
}

@media only screen and (max-width: 640px) {
  body.inner #search {
    margin-top: 0;
    float: right;
    top: 20px;
  }
}

body.inner .header-holder {
  width: 70px;
}

body.inner .header-holder .page-nav {
  width: 0;
  overflow: hidden;
}

@media only screen and (max-width: 640px) {
  body.inner .header-holder .page-nav {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  body.inner .header-holder {
    position: relative;
    width: 100%;
  }
}

body.inner .header-foot {
  display: none;
}

body.inner .mediaNav .page-nav {
  height: calc(100vh - 200px);
  width: 270px;
  padding-top: 30%;
}

body.inner .mediaNav .page-nav li a {
  border: none;
}

body.inner .mediaNav .page-nav li:first-child {
  border: none;
}

body.inner .mediaNav .page-nav li:first-child a {
  border: none;
}

body.inner .device-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: #fff;
  margin-left: -230px;
  max-width: 230px;
  transition: all 0.50s ease-in-out;
}

body.inner .device-menu li a:hover {
  color: #084c8c;
}

body.inner .content-holder {
  width: 100%;
  padding-left: 70px;
  margin: 0;
}

@media only screen and (max-width: 991px) {
  body.inner .content-holder {
    width: 100%;
    padding-left: 70px;
  }
}

@media only screen and (max-width: 640px) {
  body.inner .content-holder {
    padding-left: 0;
  }
}

body.inner.on .device-menu {
  margin-left: 70px;
  transition: all 0.50s ease-in-out;
}

@media only screen and (max-width: 640px) {
  body.inner.on .device-menu {
    width: 100%;
    margin-left: 0;
  }
}

body.inner.on .mediaNav {
  width: 100%;
}

body.inner.on .mediaNav .page-nav {
  width: 270px;
}

@media only screen and (max-width: 640px) {
  body.inner.on .mediaNav .page-nav {
    width: 100%;
  }
}

body.inner.on .header-foot {
  display: block;
}

@media only screen and (max-width: 991px) {
  .mediaNav {
    height: calc(100vh - 101px);
  }
  .mediaNav .header-foot {
    display: none;
  }
  .mediaNav .page-nav {
    width: 270px;
    padding-top: 30%;
  }
  .mediaNav .page-nav li a {
    border: none;
  }
  .mediaNav .page-nav li:first-child {
    border: none;
  }
  .mediaNav .page-nav li:first-child a {
    border: none;
  }
  .device-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: #fff;
    margin-left: -230px;
    max-width: 230px;
    transition: all 0.50s ease-in-out;
  }
}

@media only screen and (max-width: 991px) {
  body.on .device-menu {
    margin-left: 70px;
    transition: all 0.50s ease-in-out;
  }
  body.on .mediaNav {
    width: 100%;
  }
  body.on .mediaNav .page-nav {
    width: 270px;
  }
}

@media only screen and (max-width: 640px) {
  .header-holder {
    width: 100%;
    height: 70px;
  }
  .content-holder {
    width: 100%;
    margin-left: 0;
  }
  .device-menu {
    top: 70px;
    right: 0;
    border-top: 1px solid rgba(0, 113, 188, 0.5);
  }
  .device-menu .page-nav {
    width: 100%;
  }
  body.on .device-menu {
    margin-left: 0;
    max-width: 100%;
  }
  body.on .device-menu .page-nav {
    width: 100%;
  }
}

.page-search {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 0;
  overflow: hidden;
  margin-left: -300px;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.page-search .search-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 20px;
  background: #fff;
}

.page-search .search-wrapper .btn {
  background: #084c8c;
  color: #fff;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.page-search .search-wrapper .cell-wrapper {
  table-layout: fixed;
  width: 100%;
}

.page-search .search-wrapper .cell-wrapper .cell {
  width: 80%;
  vertical-align: top;
}

.page-search .search-wrapper .cell-wrapper .btn-holder {
  width: 20%;
}

@media only screen and (max-width: 640px) {
  .page-search .search-wrapper .cell-wrapper {
    display: table;
  }
  .page-search .search-wrapper .cell-wrapper .cell {
    display: table-cell;
    float: none;
  }
  .page-search .search-wrapper .cell-wrapper .cell input {
    width: 100%;
  }
}

.page-search .search-wrapper .form {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  padding: 20px;
}

.page-search.on {
  width: 270px;
  margin-left: 70px;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@media only screen and (max-width: 640px) {
  .page-search.on {
    width: 100%;
    margin: 0;
  }
}

.main-navHolder {
  background: #084c8c;
  padding: 20px;
}

.main-navHolder .main-nav {
  text-align: right;
  float: right;
  padding-top: 5px;
}

@media only screen and (max-width: 991px) {
  .main-navHolder .main-nav {
    display: none;
  }
}

.main-navHolder li {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.main-navHolder li:before {
  content: '';
  width: 1px;
  height: 15px;
  background: #fff;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 5px;
  bottom: 0;
}

.main-navHolder li:first-child {
  padding-left: 0;
}

.main-navHolder li:first-child:before {
  display: none;
}

.main-navHolder li a {
  font-size: 18px;
  color: #fff;
  font-family: "OpenSans-Light";
}

.main-navHolder li:hover a {
  color: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 640px) {
  .header-holder .device-logo {
    display: inline-block;
  }
  .header-holder .device-logo img {
    display: block;
    margin-left: 0;
  }
}

.home-slider .item, .home-slider .owl-item {
  background-size: cover;
  height: calc(100vh);
  position: relative;
}

.home-slider .owl-pagination {
  display: none;
}

.home-slider .caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  color: #000;
  font-family: "OpenSans";
  text-align: center;
}

.home-slider .caption h2 {
  font-size: 36px;
  margin: 0;
}

.home-slider .caption h1 {
  font-size: 48px;
  margin: 0;
}

@media only screen and (max-width: 640px) {
  .home-slider .caption h2 {
    font-size: 18px;
  }
  .home-slider .caption h1 {
    font-size: 24px;
  }
}

.home-slider img {
  width: 100%;
  display: none;
}

.home-slider .owl-controls {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: 0;
}

.home-slider .owl-controls .owl-buttons > div {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 2px solid #7a7a7a;
  color: #7a7a7a;
  position: absolute;
  top: 0;
  margin-top: -21px;
  font-size: 24px;
}

.home-slider .owl-controls .owl-buttons > div:before {
  font-family: "fontello";
  margin: 0;
  text-align: center;
  width: 100%;
}

.home-slider .owl-controls .owl-buttons .owl-prev {
  left: 0;
}

.home-slider .owl-controls .owl-buttons .owl-prev:before {
  content: '\e801';
}

.home-slider .owl-controls .owl-buttons .owl-next {
  right: 0;
}

.home-slider .owl-controls .owl-buttons .owl-next:before {
  content: '\e800';
}

.inner-spotlight {
  height: 600px;
}

@media only screen and (max-width: 767px) {
  .inner-spotlight {
    height: 300px;
  }
}

.inner-spotlight .caption {
  background: none;
  left: auto;
  right: 0;
  text-align: left;
  bottom: 50px;
}

.inner-spotlight .caption h1 {
  color: #fff;
  font-size: 72px;
}

@media only screen and (max-width: 640px) {
  .inner-spotlight .caption {
    bottom: 0;
  }
  .inner-spotlight .caption h1 {
    font-size: 30px;
  }
}

.inner-spotlight .item, .inner-spotlight .owl-item {
  height: 600px;
}

@media only screen and (max-width: 767px) {
  .inner-spotlight .item, .inner-spotlight .owl-item {
    height: 300px;
  }
}

.section-overview {
  padding-top: 15px;
  padding-bottom: 30px;
}

.section-overview figure {
  height: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.section-overview figure img {
  width: 100%;
}

.section-overview .fig-content {
  padding-bottom: 20px;
}

.section-overview p {
  font-family: "OpenSans-Light";
  font-size: 18px;
  color: #5a5a5a;
}

.section-division {
  color: #fff;
}

.section-division .title {
  font-size: 24px;
  line-height: 32px;
  font-family: "OpenSans-Light";
  padding-top: 20px;
  padding-bottom: 20px;
  height: 104px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.section-division .title a {
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.section-division .item {
  margin-bottom: 30px;
}

.section-division .item .inner {
  background: #084c8c;
  padding: 30px;
  position: relative;
}

.section-division .item p {
  line-height: 24px;
}

.section-division .item .content {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.section-division .icon {
  height: 60px;
}

.section-division .icon img {
  margin: 0 auto;
}

.section-division.parallax-container {
  min-height: 585px;
}

.section-division.parallax-container .parallax figure img {
  width: 100%;
}

.section-division .back {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.section-recent .item {
  padding-bottom: 30px;
}

@media only screen and (min-width: 1200px) and (max-width: 1550px) {
  .section-recent .item {
    width: 33.33333%;
  }
}

.section-recent figure {
  position: relative;
  overflow: hidden;
}

.section-recent figure img {
  width: 100%;
}

.section-recent figure div {
  position: absolute;
  background: #084c8c;
  color: #fff;
}

.section-projects.follow-image .da-thumbs .item .cover span {
  margin-top: 10px;
  margin-bottom: 10px;
}

.follow-image .da-thumbs {
  list-style: none;
  position: relative;
  padding: 0;
}

.follow-image .da-thumbs a.btn:hover {
  background: #084c8c;
  color: #fff;
}

.follow-image .da-thumbs h4 {
  font-family: "OpenSans-Light";
  font-size: 24px;
}

.follow-image .da-thumbs .item {
  background: #fff;
  position: relative;
}

.follow-image .da-thumbs .item,
.follow-image .da-thumbs .item img {
  display: block;
  position: relative;
}

.follow-image .da-thumbs .item {
  overflow: hidden;
}

.follow-image .da-thumbs .item .cover {
  position: absolute;
  background: #449cdd;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.follow-image .da-thumbs .item .cover span {
  display: block;
  margin: 40px 20px 20px 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: #fff;
}

.follow-image .da-thumbs .item .cover span p {
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "OpenSans-Light";
}

.section-news {
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 991px) {
  .section-news {
    padding-left: 0;
    padding-right: 0;
  }
}

.section-news figure {
  overflow: hidden;
}

.section-news figure img {
  width: 100%;
}

.section-news .content {
  background: #fff;
  padding: 20px;
  font-family: "OpenSans-Light";
}

.section-news .content p {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.section-news h4 {
  font-size: 24px;
  margin-top: 0;
}

.section-news h4 a {
  color: #084c8c;
}

.section-news time {
  color: #343434;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section-news p {
  color: #343434;
}

.section-testi {
  min-height: 470px;
}

.section-testi blockquote {
  quotes: "“" "”" "‘" "’";
  border: none;
  color: #fff;
  font-family: "OpenSans-Light";
  font-size: 14px;
}

.section-testi blockquote:before {
  color: #fff;
  content: "\201C";
  font-family: "Arial", sans-serif;
  font-size: 100px;
  line-height: 0.1em;
  margin-left: -15px;
  vertical-align: -0.5em;
}

.section-testi blockquote em {
  display: block;
  font-weight: normal;
}

.section-testi blockquote em.name {
  font-size: 18px;
  font-family: "OpenSans-Light";
}

.section-testi .cell-wrapper {
  max-width: 550px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.section-testi .cell-wrapper figure {
  width: 40%;
  position: relative;
  z-index: 2;
}

.section-testi .cell {
  vertical-align: top;
  text-align: left;
}

.section-testi blockquote {
  padding: 20px;
  font-style: italic;
  position: relative;
}

.section-testi blockquote .inner {
  padding-left: 15px;
}

.section-overviewInner figure img {
  width: 100%;
}

.section-title.inner {
  padding-top: 0;
}

.section-title.inner p {
  font-size: 18px;
  line-height: 24px;
}

.section-projects h2 {
  color: #fff;
}

.section-projects figure img {
  width: 100%;
}

.section-projects .item-inner {
  position: relative;
}

.section-projects .item-inner figcaption {
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  background: rgba(52, 68, 91, 0.9);
  color: #fff;
  padding: 15%;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.section-projects .item-inner figcaption h3 {
  font-size: 30px;
  font-family: "OpenSans-Light";
  margin-bottom: 30px;
}

.section-projects .item-inner figcaption h3 a {
  color: #fff;
}

.section-projects .item-inner figcaption h3 a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.section-projects .item-inner figcaption p {
  color: #dcdcdc;
  font-size: 18px;
  line-height: 24px;
  font-family: "OpenSans-Light";
}

.section-projects .item-inner figcaption .btn-holder {
  padding-top: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 1450px) {
  .section-projects .item-inner figcaption {
    padding: 5%;
  }
  .section-projects .item-inner figcaption h3 {
    margin-bottom: 15px;
  }
  .section-projects .item-inner figcaption p {
    font-size: 14px;
  }
}

.section-projects .item {
  overflow: hidden;
  margin-bottom: 30px;
}

.section-projects .item:hover figcaption {
  top: 0;
  bottom: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
