
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="page-title">
        <Al>Arabia Electrical Industries</Al>
      </div>
    </div>
    <div class="col-md-8">
      <nav class="main-nav">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Services & Scope</a></li>
          <li><a href="#">Brands</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Clients</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>