
<section class="section section-testi parallax-container">
  <figure class="parallax"><img src="images/bg-testi-2.jpg" alt=""/></figure>
  <div class="container-fluid">
    <div class="row">
      <div class="section-title text-center col-white">
        <h2>Testimonials</h2>
      </div>
      <div class="text-center">
        <div class="cell-wrapper">
          <figure class="cell"><img src="images/img-232x235-1.png" alt="" class="img-responsive"/></figure>
          <blockquote class="cell blue1">
            <div class="inner">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p><em class="name">Brilloetech</em><em class="designation">Marketing Executive</em>
            </div>
          </blockquote>
        </div>
        <div class="cell-wrapper">
          <figure class="cell"><img src="images/img-232x235-1.png" alt="" class="img-responsive"/></figure>
          <blockquote class="cell blue1">
            <div class="inner">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p><em class="name">Brilloetech</em><em class="designation">Marketing Executive</em>
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>