<!DOCTYPE html>
html(lang="en")
	head

		include partials/_meta

		link(rel='apple-touch-icon', href='favicon.png')
		link(rel="icon", type="image/png", href="favicon.png")
		link(rel='stylesheet', href='css/bootstrap.css')
		link(rel='stylesheet', href='css/bootstrap-theme.css')
		link(rel='stylesheet', href='css/owl.carousel.css')
		link(rel='stylesheet', href='css/jquery.selectBoxIt.css')
		link(rel='stylesheet', href='css/main.css')
		script(src='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')

	body
		//if lt IE 8
			p.browserupgrade
			| You are using an 
			strong outdated
			|  browser. Please 
			a(href='http://browsehappy.com/') upgrade your browser
			|  to improve your experience.
		
		//- include partials/_mobile-nav
		.page-holder
			.header-holder
				include partials/_header
			.device-menu
				include partials/_mobile-nav
			.content-holder
				include partials/_sectionSpotlight
				include partials/_sectionOverview
				include partials/_sectionDivisions
				include partials/_sectionRecent
				include partials/_sectionNews
				include partials/_sectionTestimonials

		script(src='js/vendor/jquery-1.11.2.min.js')
		script(src='js/vendor/jquery.mobile.custom.js')
		script(src='js/vendor/bootstrap.js')
		script(src='js/vendor/jquery.easing.1.3.js')
		script(src='js/vendor/owl.carousel.js')
		script(src='js/vendor/jquery-ui.js')
		script(src='js/vendor/jquery.selectBoxIt.js')
		script(src='js/vendor/materialize.js')
		script(src='js/vendor/jquery.hoverdir.js')
		script(src='js/main.js')
		script.
			$(function() {

				$(' #da-thumbs .item').each( function() { $(this).hoverdir({
					hoverDelay : 75
				}); } );

			});