.white {
	background: $white;
}
.grey {
  background: $grey;
}
.blue {
  background: $blue;
}
.blue1 {
  background: $blue1;
}
.darkBlue {
  background: $darkBlue;
}


.col-blue {
  color: $blue;
}
.col-white {
  color: $white;
}

h2 {
  font-size: 48px;
  line-height: 50px;
  font-family: $light;
  margin-bottom: 30px;
  @media only screen and (max-width: 640px) {
    font-size: 24px;
    line-height: 26px;
  }
}
.section-title {
  padding-top: 30px;
  padding-bottom: 30px;
  h2 {
    margin: 0;
  }
}
.page-title {
  font-size: 36px;
  line-height: 36px;
  color: $white;
  font-family: $regular;
  @media only screen and (max-width: 767px) {
    font-size: 22px;
    line-height: 24px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  p {
    font-family: $regular;
  }
}



.parallax-container {
  position: relative;
  overflow: hidden;
  min-height: 600px;
  padding: 0;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.cell-wrapper {
  display: table;
  .cell {
    display: table-cell;
    float: none;
  }
  @media only screen and (max-width: 768px) {
    display: block;
    .cell {
      display: block;
    }
  }
}