.btn {
  @include corners(0);
  padding-left: 20px;
  padding-right: 20px;
  &.blue {
    background: $blue1;
    color: $white;
    &:hover {
      background: #333;
    }
  }
  &.white {
    color: $blue;
  }
  &.white-br {
    background: transparent;
    border: 1px solid $white;
    color: $white;
    &:hover {
      background: $white;
      color: $blue;
    }
  }
}

#toggle {
  display: block;
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  top: 50%;
  margin-top: -35px;
  right: 15px;
  background: none;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition: all 0.50s ease-in-out;
  @media only screen and (max-width: 640px) {
    margin-top: -25px;
  }
  &:focus {
    outline: none;
  }
  span {
    display: block;
    position: absolute;
    top: 20px;
    left: 0px;
    right: 0px;
    height: 5px;
    background: $blue;
    &:before,
    &:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 5px;
      background: $blue;
      content: "";
    }
    &:before {
      top: -10px;
    }
    &:after {
      bottom: -10px;
    }
  }
  span {
    -webkit-transition: background 0s 0.3s;
            transition: background 0s 0.3s;
    &:before,
    &:after {
      -webkit-transition-duration: 0.3s, 0.3s;
              transition-duration: 0.3s, 0.3s;
      -webkit-transition-delay: 0.3s, 0s;
              transition-delay: 0.3s, 0s;
    }
    &:before {
      -webkit-transition-property: top, -webkit-transform;
              transition-property: top, transform;
    }

    &:after {
      -webkit-transition-property: bottom, -webkit-transform;
              transition-property: bottom, transform;
    }
  }
  &.is-active {
    // background-color: #cb0032;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition: all 0.50s ease-in-out;
    span {
      background: none;
      &:before {
        top: 0;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
      }
      &:after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
      }
      &:before,
      &:after {
        -webkit-transition-delay: 0s, 0.3s;
                transition-delay: 0s, 0.3s;
      }
    }
  }
}
#search {
  background: none;
  border: none;
  font-size: 30px;
  color: $blue;
  &:before {
    margin: 0;
    width: auto;
  }
  &:hover, &:focus {
    outline: none;
  }
}