@font-face {
  font-family: 'jumaalmajid';
  src: url('../fonts/jumaalmajid.eot?52962353');
  src: url('../fonts/jumaalmajid.eot?52962353#iefix') format('embedded-opentype'),
       url('../fonts/jumaalmajid.woff2?52962353') format('woff2'),
       url('../fonts/jumaalmajid.woff?52962353') format('woff'),
       url('../fonts/jumaalmajid.ttf?52962353') format('truetype'),
       url('../fonts/jumaalmajid.svg?52962353#jumaalmajid') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "jumaalmajid";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/OpenSans-Semibold.woff') format('woff'), 
  url('../fonts/OpenSans-Semibold.ttf')  format('truetype'), 
  url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/OpenSans.woff') format('woff'), 
  url('../fonts/OpenSans.ttf')  format('truetype'), 
  url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/OpenSans-Light.woff') format('woff'), 
  url('../fonts/OpenSans-Light.ttf')  format('truetype'), 
  url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
.icon-right-open-big:before { content: '\e800'; } /* '' */
.icon-left-open-big:before { content: '\e801'; } /* '' */
.icon-right-open-mini:before { content: '\e802'; } /* '' */
.icon-down-open-mini:before { content: '\e803'; } /* '' */
.icon-letter:before { content: '\e80c'; } /* '' */
.icon-location-1:before { content: '\e80d'; } /* '' */
.icon-phone-1:before { content: '\e80e'; } /* '' */
.icon-twitter-1:before { content: '\f302'; } /* '' */
.icon-flickr:before { content: '\f303'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */

$fontello: 'fontello';

$semiBold: 'OpenSans-Semibold';
$regular: 'OpenSans';
$light: 'OpenSans-Light';