.form {
	input {
		height: 40px;
		background: none;
		border: none;
		padding-left: 15px;
		padding-right: 15px;
		color: $white;
	}
	.btn {
		height: 40px;
		border: none;
		margin: 0;
		outline: none;
		top: 0;
	}
}
.search-wrapper {
	input {
		background: $blue;
	}
	.btn {
		border-left: 1px solid #0073BB;
	}
}