.page-holder {
	width: 100%;
}
.header-holder {
	width: 15%;
	display: inline-block;
	vertical-align: top;
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
	background: $white;
	border-right: 1px solid #f4f4f4;
	.device-logo {
		padding: 5px;
		img {
			margin: 0 auto;
		}
	}
	@media only screen and (max-width: 1366px) {
		width: 20%;
	}
	@media only screen and (max-width: 991px) {
		width: 70px;
		.page-nav {
			width: 0;
			overflow: hidden;
		}
	}
}
.content-holder {
	width: 85%;
	margin-left: 15%;
	display: inline-block;
	@media only screen and (max-width: 1366px) {
		width: 80%;
		margin-left: 20%;
	}
	@media only screen and (max-width: 991px) {
		width: 90%;
		margin-left: 70px;
	}
}
header {
	.page-logo {
		display: block;
		img {
			margin: 0 auto;
		}
	}
	h2 {
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		color: #2f2f2f;
		@media only screen and (max-width: 1366px) {
			font-size: 16px;
			line-height: 18px;
		}
	}
}
.logo-holder {
	padding: 10px;
}
.page-nav {
	padding-top: 20px;
	overflow-y: auto;
	@media only screen and (max-width: 1366px) {
		padding-top: 10px;
	}
	a {
		padding: 10px 30px;
		display: block;
		font-size: 18px;
		color: #434343;
		font-family: $regular;
		border-bottom: 1px solid #dedede;
	}
	li {
		&:first-child {
			border-top: 1px solid #dedede;
		}
	}
}
.header-top {
	height: calc(100vh - 150px);
}
.social {
	text-align: center;
	padding-bottom: 15px;
	li {
		display: inline-block;
		padding-left: 3px;
		padding-right: 3px;
	}
	a {
		display: table-cell;
		vertical-align: middle;
		color: $white;
		font-size: 20px;
		width: 33px;
		height: 33px;
		background: #9a9898;
		@include corners(50%);
		&:hover {
			background: #0071BC;
		}
	}
}
.header-foot {
	padding: 15px;
	p {
		margin: 0;
	}
	.policy {
		p {
			color: #9a9898;
			a {
				color: #9a9898;
				&:before {
					display: none;
				}
			}
		}
		a {
			color: #9a9898;
			&:before {
				content: '';
				width: 1px;
				height: 10px;
				background: #9a9898;
				display: inline-block;
			}
		}
	}
}

.subnav {
	display: none;
	li {
		padding-left: 15px;
		&:first-child {
			border: none;
		}
		a {
		}
	}
}

body.inner {
	#toggle {
		display: block;
		position: relative;
		margin-top: 250px;
		margin-left: 30px;
		@media only screen and (max-width: 640px) {
			float: right;
			margin-top: 0;
			top: 15px;
			// position: absolute;
		}
	}
	#search {
		position: relative;
		padding: 0;
		margin-left: 20px;
		margin-top: 30px;
		@media only screen and (max-width: 640px) {
			margin-top: 0;
			float: right;
			top: 20px;
			// position: absolute;
		}
	}
	.header-holder {
		width: 70px;
		.page-nav {
			width: 0;
			overflow: hidden;
			@media only screen and (max-width: 640px) {
				width: 100%;
			}
		}
		@media only screen and (max-width: 640px) {
			position: relative;
			width: 100%;
		}
	}
	.header-foot {
		display: none;
	}
	.mediaNav {
		.page-nav {
			height: calc(100vh - 200px);
			width: 270px;
			padding-top: 30%;
			li {
				a {
					border: none;
				}
				&:first-child {
					border: none;
					a {
						border: none;
					}
				}
			}
		}
	}
	.device-menu {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
		background: $white;
		margin-left: -230px;
		max-width: 230px;
		transition: all 0.50s ease-in-out;
		li {
			a {
				&:hover {
					color: $blue;
				}
			}
		}
	}
	.content-holder {
		width: 100%;
		padding-left: 70px;
		margin: 0;
		@media only screen and (max-width: 991px) {
			width: 100%;
			padding-left: 70px;
		}
		@media only screen and (max-width: 640px) {
			padding-left: 0;
		}
	}
	&.on {
		.device-menu {
			margin-left: 70px;
			transition: all 0.50s ease-in-out;
			@media only screen and (max-width: 640px) {
				width: 100%;
				margin-left: 0;
			}
		}
		.mediaNav {
			width: 100%;
			.page-nav {
				width: 270px;
				@media only screen and (max-width: 640px) {
					width: 100%;
				}
			}
		}
		.header-foot {
			display: block;
		}
	}
}
@media only screen and (max-width: 991px) {
	.mediaNav {
		height: calc(100vh - 101px);
		.header-foot {
			display: none;
		}
	}
	.mediaNav {
		.page-nav {
			width: 270px;
			padding-top: 30%;
			li {
				a {
					border: none;
				}
				&:first-child {
					border: none;
					a {
						border: none;
					}
				}
			}
		}
	}
	.device-menu {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
		background: $white;
		margin-left: -230px;
		max-width: 230px;
		transition: all 0.50s ease-in-out;
	}
}
body.on {
	@media only screen and (max-width: 991px) {
		.device-menu {
			margin-left: 70px;
			transition: all 0.50s ease-in-out;
		}
		.mediaNav {
			width: 100%;
			.page-nav {
				width: 270px;
			}
		}
	}
}
@media only screen and (max-width: 640px) {
	.header-holder {
		width: 100%;
		height: 70px;
	}
	.content-holder {
		width: 100%;
		margin-left: 0;
	}
	.device-menu {
		top: 70px;
		right: 0;
		border-top: 1px solid rgba(0,113,188,0.5);
		.page-nav {
			width: 100%;
		}
	}
	body.on {
		.device-menu {
			margin-left: 0;
			max-width: 100%;
			.page-nav {
				width: 100%;
			}
		}
	}
}

.page-search {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 0;
    overflow: hidden;
    margin-left: -300px;
    @include expoAnim;
    .search-wrapper {
    	position: absolute;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	top: 0;
    	padding: 20px;
    	background: $white;
    	.btn {
    		background: $blue;
    		color: $white;
    		width: 100%;
    		padding-left: 0;
    		padding-right: 0;
    	}
    	.cell-wrapper {
    		table-layout: fixed;
    		width: 100%;
    		.cell {
    			width: 80%;
    			vertical-align: top;
    		}
    		.btn-holder {
    			width: 20%;
    		}
    		@media only screen and (max-width: 640px) {
    			display: table;
    			.cell {
    				display: table-cell;
    				float: none;
    				input {
    					width: 100%;
    				}
    			}
    		}
    	}
    	.form {
    		position: absolute;
    		left: 0;
    		right: 0;
    		top: 30%;
    		padding: 20px;
    	}
    }
    &.on {
	    width: 270px;
	    margin-left: 70px;
	    @include expoAnim;
	    @media only screen and (max-width: 640px) {
	    	width: 100%;
	    	margin: 0;
	    }
    }
}

.main-navHolder {
	background: $blue;
	padding: 20px;
	.main-nav {
		text-align: right;
		float: right;
		padding-top: 5px;
		@media only screen and (max-width: 991px) {
			display: none;
		}
	}
	li {
		float: left;
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
		&:before {
			content: '';
			width: 1px;
			height: 15px;
			background: $white;
			display: inline-block;
			position: absolute;
			left: 0;
			top: 5px;
			bottom: 0;
		}
		&:first-child {
			padding-left: 0;
			&:before {
				display: none;
			}
		}
		a {
			font-size: 18px;
			color: $white;
			font-family: $light;
		}
		&:hover {
			a {
				color: rgba(255,255,255,0.7);
			}
		}
	}
}
@media only screen and (max-width: 640px) {
	.header-holder .device-logo {
		display: inline-block;
		img {
			// margin: 0;
			display: block;
			margin-left: 0;
		}
	}
}