$width : 100%;
@mixin hoverAnim {
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
@mixin corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin expoAnim {
	-webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	   -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	     -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	        transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);

	-webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	        transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}