
ul {
	margin: 0;
	padding: 0;
}
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
a, li {
	text-decoration: none;
	outline: none;
	@include hoverAnim;
	&:hover, &:focus {
		text-decoration: none;
		@include hoverAnim;
		outline: none;
	}
}
.cut-rel {
	position: static;
}
.alpha {
	padding-right: 0 !important;
}
.omega {
	padding-left: 0 !important;
}
.ui-loader {
	display: none;
}