.section-testi {
	min-height: 470px;
	blockquote {
		quotes: "\201C""\201D""\2018""\2019";
		border: none;
		color: $white;
		font-family: $light;
		font-size: 14px;
		&:before {
		  color: $white;
		  content: "\201C";
		  font-family: "Arial", sans-serif;
		  font-size: 100px;
		  line-height: 0.1em;
		  margin-left: -15px;
		  vertical-align: -0.5em;
		}
		em {
			display: block;
			font-weight: normal;
			&.name {
				font-size: 18px;
				font-family: $light;
			}
		}
	}
	.cell-wrapper {
		max-width: 550px;
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;
		figure {
			width: 40%;
			position: relative;
			z-index: 2;
		}
	}
	.cell {
		vertical-align: top;
		text-align: left;
	}
	blockquote {
		padding: 20px;
		font-style: italic;
		position: relative;
		.inner {
			padding-left: 15px;
		}
	}
}