.section-division {
	color: $white;
	.title {
		font-size: 24px;
		line-height: 32px;
		font-family: $light;
		padding-top: 20px;
		padding-bottom: 20px;
		height: 104px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;  
		overflow: hidden;
		a {
			color: $white;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;  
			overflow: hidden;
		}
	}
	.item {
		margin-bottom: 30px;
		.inner {
			background: $blue;
			padding: 30px;
			position: relative;
		}
		p {
			line-height: 24px;
		}
		.content {
			display: -webkit-box;
			-webkit-line-clamp: 7;
			-webkit-box-orient: vertical;  
			overflow: hidden;
		}
	}
	.icon {
		height: 60px;
		img {
			margin: 0 auto;
		}
	}
	&.parallax-container {
		min-height: 585px;
		.parallax {
			figure {
				img {
					width: 100%;
				}
			}
		}
	}
	.back {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
	}
}