.home-slider {
	.item, .owl-item {
		background-size: cover;
		height: calc(100vh);
		position: relative;
	}
	.owl-pagination {
		display: none;
	}
	.caption {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 20px;
		background: rgba(0,0,0,0.2);
		color: $black;
		font-family: $regular;
		text-align: center;
		h2 {
			font-size: 36px;
			margin: 0;
		}
		h1 {
			font-size: 48px;
			margin: 0;
		}
		@media only screen and (max-width: 640px) {
			h2 {
				font-size: 18px;
			}
			h1 {
				font-size: 24px;
			}
		}
	}
	img {
		width: 100%;
		display: none;
	}
	.owl-controls {
		position: absolute;
		bottom: 50%;
		left: 0;
		right: 0;
		margin: 0;
		.owl-buttons {
			> div {
				width: 43px;
				height: 43px;
				@include corners(50%);
				border: 2px solid #7a7a7a;
				color: #7a7a7a;
				position: absolute;
				top: 0;
				margin-top: -21px;
				font-size: 24px;
				&:before {
					font-family: $fontello;
					margin: 0;
					text-align: center;
					width: 100%;
				}
			}
			.owl-prev {
				left: 0;
				&:before {
					content: '\e801';
				}
			}
			.owl-next {
				right: 0;
				&:before {
					content: '\e800';
				}
			}
		}
	}
}
.inner-spotlight {
	height: 600px;
	@media only screen and (max-width: 767px) {
		height: 300px;
	}
	.caption {
		background: none;
		left: auto;
		right: 0;
		text-align: left;
		bottom: 50px;
		h1 {
			color: $white;
			font-size: 72px;
		}
		@media only screen and (max-width: 640px) {
			bottom: 0;
			h1 {
				font-size: 30px;
			}
		}
	}
	.item, .owl-item {
		height: 600px;
		@media only screen and (max-width: 767px) {
			height: 300px;
		}
	}
}