.section-news {
	padding-left: 20px;
	padding-right: 20px;
	@media only screen and (max-width: 991px) {
		padding-left: 0;
		padding-right: 0;
	}
	figure {
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	.content {
		background: $white;
		padding: 20px;
		font-family: $light;
		p {
			display: -webkit-box;
			-webkit-line-clamp: 6;
			-webkit-box-orient: vertical;  
			overflow: hidden;
		}
	}
	h4 {
		font-size: 24px;
		margin-top: 0;
		a {
			color: $blue;
		}
	}
	time {
		color: #343434;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	p {
		color: #343434;
	}
}