.section-projects {
	h2 {
		color: $white;
	}
	figure {
		img {
			width: 100%;
		}
	}
	.item-inner {
		position: relative;
		figcaption {
			position: absolute;
			// top: -100%;
			right: 0;
			bottom: 100%;
			left: 0;
			background: rgba(52,68,91,0.9);
			color: $white;
			padding: 15%;
			transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
			h3 {
				font-size: 30px;
				font-family: $light;
				margin-bottom: 30px;
				a {
					color: $white;
					&:hover {
						color: rgba(255,255,255,0.7);
					}
				}
			}
			p {
				color: #dcdcdc;
				font-size: 18px;
				line-height: 24px;
				font-family: $light;
			}
			.btn-holder {
				padding-top: 30px;
			}
			@media only screen and (min-width: 768px) and (max-width: 1450px) {
				padding: 5%;
				h3 {
					margin-bottom: 15px;
				}
				p {
					font-size: 14px;
				}
			}
		}
	}
	.item {
		overflow: hidden;
		margin-bottom: 30px;
		&:hover {
			figcaption {
				top: 0;
				bottom: 0;
				transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
			}
		}
	}
}