.section-overview {
	padding-top: 15px;
	padding-bottom: 30px;
	figure {
		// max-height: 300px;
		height: 100%;
		overflow: hidden;
		margin-bottom: 20px;
		img {
			width: 100%;
		}
	}
	.fig-content {
		padding-bottom: 20px;
	}
	p {
		font-family: $light;
		font-size: 18px;
		color: #5a5a5a;
	}
}