.section-recent {
	.item {
		padding-bottom: 30px;
		@media only screen and (min-width: 1200px) and (max-width: 1550px) {
			width: $width / 3;
		}
	}
	figure {
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
		}
		div {
			position: absolute;
			
			background: $blue;
			color: $white;
		}
	}
}
.section-projects {
	&.follow-image {
		.da-thumbs .item .cover span {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}
.follow-image {
	.da-thumbs {
		list-style: none;
		position: relative;
		padding: 0;
		a.btn {
			&:hover {
				background: $blue;
				color: $white;
			}
		}
		h4 {
			font-family: $light;
			font-size: 24px;
		}
	}
	.da-thumbs .item {
		background: #fff;
		position: relative;
	}
	.da-thumbs .item,
	.da-thumbs .item img {
		display: block;
		position: relative;
	}
	.da-thumbs .item {
		overflow: hidden;
	}
	.da-thumbs .item .cover {
		position: absolute;
		background: #449cdd;
		padding: 20px;
		width: 100%;
		height: 100%;
	}
	.da-thumbs .item .cover span {
		display: block;
		margin: 40px 20px 20px 20px;
		text-transform: uppercase;
		font-weight: normal;
		color: $white;
	}
	.da-thumbs .item .cover span p {
		color: $white;
		display: -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;  
		overflow: hidden;
		font-family: $light;
	}
}