header.header-aside
	a.device-logo.visible-sm.visible-xs(href="#")
		img.img-responsive(src="images/logo-device.png", alt="")
	button#toggle.visible-sm.visible-xs
		span
	.visible-lg.visible-md
		.header-top
			.logo-holder
				a.page-logo(href="#", title='Juma Al Majid Group | Contracting & Services Division')
					img.img-responsive(src="images/page-logo.png", alt="Juma Al Majid Group")
				h2 Contracting & Services Division
			nav.page-nav
				ul
					li
						a(href="#") Home
					li
						a(href="#") About Us
						.subnav
							ul
								li: a(href="#") Mission and Vision
								li: a(href="#") company
								li: a(href="#") company Two
					li
						a(href="#") Our Divisions
					li
						a(href="#") Our Clients
					li
						a(href="#") Projects
					li
						a(href="#") News
					li
						a(href="#") Contact Us
		.header-foot
			.social
				li: a.icon-twitter-1(href="#")
				li: a.icon-facebook(href="#")
				li: a.icon-pinterest(href="#")
				li: a.icon-flickr(href="#")
				//- li: a.icon-gplus(href="#")
				//- li: a.icon-linkedin(href="#")
				//- li: a.icon-instagram(href="#")
			.policy
				p
					a(href="#") Privacy Policy
					a(href="#") Terms and Conditions
				p Copyright © 2016.
					a(href="#") Juma Al Majid Group