section.page-spotlight.inner-spotlight
	#home-slider.owl-carousel.home-slider
		.item
			img.img-responsive(src="images/inner-spotlight-1.jpg", alt="")
			.caption.col-md-5
				h1 Developing Future <br> of the World