.container-fluid
	.row
		.col-lg-4.col-md-6.col-sm-12
			.page-title Al Arabia Electrical Industries
		.col-lg-8.col-md-6
			nav.main-nav
				ul
					li
						a(href="#") About
					li
						a(href="#") Services & Scope
					li
						a(href="#") Brands
					li
						a(href="#") Products
					li
						a(href="#") Projects
					li
						a(href="#") Clients
					li
						a(href="#") Contact