meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
title Juma Al Majid Group | Contracting & Services Division
meta(name='description', content='')
meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')