section.section.section-news.grey
	.container-fluid
		.section-title.text-center
			h2 Latest News
		.row
			.col-md-4.col-sm-4
				figure
					a(href="#"): img.img-responsive(src="images/img-360x238-1.png", alt="")
				.content
					.title
						h4
							a(href="#") News Title
						time 12 Oct 2016
					.inner
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
					a.btn.blue(href="#") read more
			.col-md-4.col-sm-4
				figure
					a(href="#"): img.img-responsive(src="images/img-360x238-1.png", alt="")
				.content
					.title
						h4
							a(href="#") News Title
						time 12 Oct 2016
					.inner
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
					a.btn.blue(href="#") read more
			.col-md-4.col-sm-4
				figure
					a(href="#"): img.img-responsive(src="images/img-360x238-1.png", alt="")
				.content
					.title
						h4
							a(href="#") News Title
						time 12 Oct 2016
					.inner
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
					a.btn.blue(href="#") read more
