section.section.section-testi.parallax-container
	figure.parallax
		img(src="images/bg-testi-2.jpg", alt="")
	.container-fluid
		.row
			.section-title.text-center.col-white
				h2 Testimonials
			.text-center
				.cell-wrapper
					figure.cell
						img.img-responsive(src="images/img-232x235-1.png", alt="")
					blockquote.cell.blue1
						.inner
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
							em.name Brilloetech
							em.designation Marketing Executive
				.cell-wrapper
					figure.cell
						img.img-responsive(src="images/img-232x235-1.png", alt="")
					blockquote.cell.blue1
						.inner
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
							em.name Brilloetech
							em.designation Marketing Executive

				