section.page-spotlight
	#home-slider.owl-carousel.home-slider
		.item
			img.img-responsive(src="images/spotlight-1.jpg", alt="")
			.caption
				h2 Welcome to Juma Al Majid Group
				h1 Contracting & Services Division
		.item
			img.img-responsive(src="images/spotlight-1.jpg", alt="")
			.caption
				h2 2 Welcome to Juma Al Majid Group
				h1 Contracting & Services Division