section.section.section-projects.darkBlue
	.container-fluid
		.section-title
			h2 Projects
		.row
			.item.col-lg-3.col-md-4.col-sm-6
				.item-inner
					figure
						a(href="#")
							img.img-responsive(src="images/img-361x481-1.jpg", alt="")
					figcaption
						h3
							a(href="#") Product Name
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
						.btn-holder
							a.btn.white-br(href="#") more info

			.item.col-lg-3.col-md-4.col-sm-6
				.item-inner
					figure
						a(href="#")
							img.img-responsive(src="images/img-361x481-1.jpg", alt="")
					figcaption
						h3
							a(href="#") Product Name
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
						.btn-holder
							a.btn.white-br(href="#") more info
			.item.col-lg-3.col-md-4.col-sm-6
				.item-inner
					figure
						a(href="#")
							img.img-responsive(src="images/img-361x481-1.jpg", alt="")
					figcaption
						h3
							a(href="#") Product Name
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
						.btn-holder
							a.btn.white-br(href="#") more info
			.item.col-lg-3.col-md-4.col-sm-6
				.item-inner
					figure
						a(href="#")
							img.img-responsive(src="images/img-361x481-1.jpg", alt="")
					figcaption
						h3
							a(href="#") Product Name
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
						.btn-holder
							a.btn.white-br(href="#") more info
		.btn-holder.text-right
			a.btn.white-br(href="#") view all