section.section.section-division.parallax-container
	figure.parallax
		img(src="images/bg-divice.png", alt="")
	.container-fluid
		.row
			.section-title.text-center.col-white
				h2 Our Division
			.item.text-center.col-lg-3.col-md-4.col-sm-4
				.inner
					.icon: img.img-responsive(src="images/icon-division-1.png", alt="")
					.title
						a(href="#") Contracting
					.content
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum is simply dummy textis simply dummy textis simply dummy textis simply dummy textis simply dummy text ypesetting industry lorem Ipsum is simply simply dummy text ypesetting industry lorem Ipsum is simply. simply dummy text of the printing and typesetting industry lorem Ipsum is simply dummy textis simply dummy textis simply dummy textis simply dummy textis simply dummy text ypesetting industry lorem Ipsum is simply simply dummy text ypesetting industry lorem Ipsum is simply
			.item.text-center.col-lg-3.col-md-4.col-sm-4
				.inner
					.icon: img.img-responsive(src="images/icon-division-2.png", alt="")
					.title
						a(href="#") Agency Businesses
					.content
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum is simply dummy textis simply dummy textis simply dummy textis simply dummy textis simply dummy text ypesetting industry lorem Ipsum is simply simply dummy text ypesetting industry lorem Ipsum is simply. simply dummy text of the printing and typesetting industry lorem Ipsum is simply dummy textis simply dummy textis simply dummy textis simply dummy textis simply dummy text ypesetting industry lorem Ipsum is simply simply dummy text ypesetting industry lorem Ipsum is simply
			.item.text-center.col-lg-3.col-md-4.col-sm-4
				.inner
					.icon: img.img-responsive(src="images/icon-division-3.png", alt="")
					.title
						a(href="#") Facilities Management
					.content
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum is simply dummy textis simply dummy textis simply dummy textis simply dummy textis simply dummy text ypesetting industry lorem Ipsum is simply simply dummy text ypesetting industry lorem Ipsum is simply. simply dummy text of the printing and typesetting industry lorem Ipsum is simply dummy textis simply dummy textis simply dummy textis simply dummy textis simply dummy text ypesetting industry lorem Ipsum is simply simply dummy text ypesetting industry lorem Ipsum is simply
			.item.text-center.col-lg-3.col-md-4.col-sm-4
				.inner
					.icon: img.img-responsive(src="images/icon-division-4.png", alt="")
					.title
						a(href="#") Manufacturing
					.content
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum is simply dummy textis simply dummy textis simply dummy textis simply dummy textis simply dummy text ypesetting industry lorem Ipsum is simply simply dummy text ypesetting industry lorem Ipsum is simply. simply dummy text of the printing and typesetting industry lorem Ipsum is simply dummy textis simply dummy textis simply dummy textis simply dummy textis simply dummy text ypesetting industry lorem Ipsum is simply simply dummy text ypesetting industry lorem Ipsum is simply