section.section.section-recent.follow-image
	.container-fluid
		.section-title.text-center
			h2 Recent Projects
		.row
			#da-thumbs.da-thumbs
				.item.col-lg-3.col-md-6.col-sm-6
					figure
						a(href="#"): img.img-responsive(src="images/img-300x250-1.png", alt="")
						.cover
							span
								h4 Project Name
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum is simply dummy text dummy text ypesetting industry lorem Ipsum is simply
								a.btn.white(href="#") more info
				.item.col-lg-3.col-md-6.col-sm-6
					figure
						a(href="#"): img.img-responsive(src="images/img-300x250-1.png", alt="")
						.cover
							span
								h4 Project Name
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum is simply dummy text dummy text ypesetting industry lorem Ipsum is simply
								a.btn.white(href="#") more info
				.item.col-lg-3.col-md-6.col-sm-6
					figure
						a(href="#"): img.img-responsive(src="images/img-300x250-1.png", alt="")
						.cover
							span
								h4 Project Name
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum is simply dummy text dummy text ypesetting industry lorem Ipsum is simply
								a.btn.white(href="#") more info
				.item.col-lg-3.col-md-6.col-sm-6
					figure
						a(href="#"): img.img-responsive(src="images/img-300x250-1.png", alt="")
						.cover
							span
								h4 Project Name
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum is simply dummy text dummy text ypesetting industry lorem Ipsum is simply
								a.btn.white(href="#") more info
				.item.col-lg-3.col-md-6.col-sm-6
					figure
						a(href="#"): img.img-responsive(src="images/img-300x250-1.png", alt="")
						.cover
							span
								h4 Project Name
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum is simply dummy text dummy text ypesetting industry lorem Ipsum is simply
								a.btn.white(href="#") more info
				.item.col-lg-3.col-md-6.col-sm-6
					figure
						a(href="#"): img.img-responsive(src="images/img-300x250-1.png", alt="")
						.cover
							span
								h4 Project Name
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum is simply dummy text dummy text ypesetting industry lorem Ipsum is simply
								a.btn.white(href="#") more info
				.item.col-lg-3.col-md-6.col-sm-6
					figure
						a(href="#"): img.img-responsive(src="images/img-300x250-1.png", alt="")
						.cover
							span
								h4 Project Name
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum is simply dummy text dummy text ypesetting industry lorem Ipsum is simply
								a.btn.white(href="#") more info
				.item.col-lg-3.col-md-6.col-sm-6
					figure
						a(href="#"): img.img-responsive(src="images/img-300x250-1.png", alt="")
						.cover
							span
								h4 Project Name
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum is simply dummy text dummy text ypesetting industry lorem Ipsum is simply
								a.btn.white(href="#") more info
