section.section.section-overview
	.container-fluid
		.row
			.col-sm-6
				h2.col-blue COO's Message
				figure
					img.img-responsive(src="images/img-590x300-1.jpg", alt="")
				.fig-content
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting. 
				.btn-holder
					a.btn.blue(href="#") read more
			.col-sm-6
				h2.col-blue COO's Message
				figure
					img.img-responsive(src="images/img-590x300-2.jpg", alt="")
				.fig-content
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting. 
				.btn-holder
					a.btn.blue(href="#") read more
